{% extends 'base.html.twig' %}

{#{% block title %}Nuevo Usuario{% endblock %}#}

{% block toolbar_content %}
    {% include('usuario/toolbar.html.twig') %}
{% endblock toolbar_content %}

{% block body %}

{#    {% block sidebar_content %}#}
{#        {% include('usuario/sidebar_content.html.twig') %}#}
{#    {% endblock sidebar_content %}#}

    {% block main_content %}

        <h1>Alta de usuarios</h1>
        <form>
            <input id="searchbox" type="text" >
            <button class="btn btn-secondary" type="button" onclick="buscar()">buscar</button>
        </form>
        {{ include('usuario/_form.html.twig') }}
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">UserName</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Keycloak ID</th>
                    <th scope="col">Accion</th>
                </tr>
                </thead>
                <tbody>
                {% for usuario in pagination %}
                    <tr>
                        <th>{{ usuario.idUserAd }}</th>
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.apellido }}</td>
                        <td>{{ usuario.idUserKeycloak }}</td>
                        <td>
                            {{ include('usuario/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
            <a href="{{ url('usuario') }}"class="btn btn-secondary">Confirmar alta y salir</a>
        </div>


    {% endblock main_content %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/collections.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        function buscar(){
            $.ajax({
                type: 'POST',
                url: "{{ url('searchKeycloakUserAjax') }}",
                data: ({'searchBox': $('#searchbox').val()}),
                async: true,
                dataType: "json",
                success: function(data){
                    $('#usuario_type2_idUserAd').val(data['username']);
                }
            })
        }
    </script>
{% endblock %}