{% extends 'base.html.twig' %}

{% block body %}

    {#    {% block sidebar_content %}#}
    {#        {% include('usuario/sidebar_content.html.twig') %}#}
    {#    {% endblock sidebar_content %}#}

    {% block main_content %}
        <h1>Editar Dispositivo</h1>

        <div>
            {{ include('dispositivos/_form.html.twig', {'button_label': 'Actualizar'}) }}
{#            {{ include('dispositivos/_delete_form.html.twig') }}#}
        </div>

{#        <a href="{{ path('dispositivos_index') }}">back to list</a>#}
    {% endblock main_content %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('collections') }}
{% endblock %}
