{% extends 'base.html.twig' %}

{% block toolbar_content %}
    {% include('usuario/toolbar.html.twig') %}
{% endblock toolbar_content %}

{% block body %}

    {#    {% block sidebar_content %}#}
    {#        {% include('usuario/sidebar_content.html.twig') %}#}
    {#    {% endblock sidebar_content %}#}

    {% block main_content %}

            <h1>Alta de Dispositivos Hoja de Primer Contacto (HPC)</h1>

            {{ include('dispositivos/_form.html.twig') }}

        <div style="height:400px">
            <table border="1" class="table table-dark" >
{#              <thead class="fixedHeader">
                    <th>C贸digo Interno</th>
                    <th>Dispositivo</th>
                    <th>Acci贸n</th>
                </thead>
                <tbody>
                {% for dispositivo in dispositivos %}
                    <tr>
                        <td>{{ dispositivo.codigoDispositivo }}</td>
                        <td>{{ dispositivo.descripcion }}</td>
                        <td>
                            {{ include('dispositivos/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">No se encontraron dispositivos</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> #}
                <thead class="fixedHeader">
                <th>C贸digo Interno</th>
                <th>Dispositivo</th>
                <th>Acci贸n</th>
                </thead>
                <tbody>
                {% for dispositivo in pagination %}
                    <tr>
                        <td>
                            {{ dispositivo.codigoDispositivo }}
                        </td>
                        <td>
                            <a href="{{ path('dispositivos_new', {'id': dispositivo.idDispositivoHpc, 'page': page}) }}">{{ dispositivo.descripcion }}</a>
                        </td>
                        <td>
                            {{ include('dispositivos/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
            <a class="btn btn-warning" href="{{ path('usuario') }}">Confirmar Altas</a>
        </div>

    {% endblock main_content %}

    {% block pagi %}
        <table>
            {% for dispositivo in pagination %}
                <tr>
                    <td>
                        <a href="{{ path('dispositivos_new', {'id': dispositivo.idDispositivoHpc, 'page': page}) }}">{{ dispositivo.descripcion }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endblock pagi %}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('collections') }}
{% endblock %}
